<main class="influencerContainer">
  <section class="influencerList">
    <div class="container">
      <div class="row cardInfluencer">
        <mat-card class="col-lg-12 col-md-12 col-xs-12">
          <mat-card-header>
          </mat-card-header>
          <mat-list>
            <mat-list-item>
              <div class="colTable">
                <p class="Text">
                  Felipe Martínez Ortega
                </p>
                <p class="subText">
                  @luisfelipemo
                </p>
                <p class="subText">
                  Categoria
                </p>
              </div>
              <div class="colTable">
                <p class="Text">
                  TikTok
                </p>
                <p class="subText">Seguidores:<span>999</span></p>
                <p class="subText">Seguidos:<span>9999</span></p>
              </div>
              <div class="colTable">
                <div class="actions">
                  <mat-icon aria-hidden="false" routerLink="/influencer/edit" aria-label="Example edit icon" color="primary">edit</mat-icon>
                  <mat-icon aria-hidden="false" aria-label="Example delete icon" color="warn">delete</mat-icon>
                </div>
              </div>
            </mat-list-item>
           </mat-list>
        </mat-card>
      </div>
    </div>
  </section>
  <div class="float-new">
    <button mat-fab color="primary" routerLink="/influencer" aria-label="Example icon button with a add icon">
      <mat-icon>add</mat-icon>
    </button>
  </div>
</main>